<mat-toolbar color="primary">
  <span>
    <button mat-button [routerLink]="['/']">
      <mat-icon title="logout">fastfood</mat-icon>
      Buono Pasto Elettronico Postumo
    </button>
  </span>

  <span class="example-fill-remaining-space"></span>

  <span>
    <mat-menu #appMenu="matMenu" xPosition="before">
      <button mat-button (click)="logout()" matTooltip="logout">
        <mat-icon>exit_to_app</mat-icon>
        <span>Esci</span>

      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="isLogged()">
      <mat-icon>perm_identity</mat-icon>
    </button>
  </span>
</mat-toolbar>
