<h2>Ricariche!!!</h2>
<!-- <ul class="heroes">
  <li *ngFor="let recharge of recharges">
    <span class="badge">{{recharge.owner}}</span> {{recharge.code}}
  </li>
</ul> -->

<table mat-table [dataSource]="recharges">
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Codice </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="validFrom">
    <th mat-header-cell *matHeaderCellDef> Data Emissione </th>
    <td mat-cell *matCellDef="let element"> {{element.validFrom  | date : "dd.MM.y" }}  </td>
  </ng-container>

  <ng-container matColumnDef="validThru">
    <th mat-header-cell *matHeaderCellDef> Data Scadenza </th>
    <td mat-cell *matCellDef="let element"> {{element.validThru  | date : "dd.MM.y" }} </td>
    <!-- <td mat-cell *matCellDef="let element"> {{element.validThru | date : "dd.MM.y" }} </td> -->
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef> Numero buoni </th>
    <td mat-cell *matCellDef="let element"> {{element.length}} </td>
  </ng-container>

  <ng-container matColumnDef="left">
    <th mat-header-cell *matHeaderCellDef> Buoni residui </th>
    <td mat-cell *matCellDef="let element"> {{element.left}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
        <mat-icon matTooltip="dettagli">details</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
