<agm-map
  [latitude]='latitude'
  [longitude]='longitude'
  [mapTypeId]='mapType'
  [zoom]='zoom'
  (boundsChange)="mapChange($event, 1000)"
  >
  <!-- <agm-marker
    [latitude]="41.85216"
    [longitude]="12.49173">
  </agm-marker> -->

  <agm-marker *ngFor="let shop of shopList"
    [latitude]="shop.location.x"
    [longitude]="shop.location.y"
    [title]="shop.name"
    >
    <agm-info-window>
      <h3>{{shop.name}}</h3>
      {{shop.address}}
    </agm-info-window>
  </agm-marker>
</agm-map>
