<div class="container"
  fxLayout="column" fxLayoutGap="5px"
  >
  <!-- Testata: sempre presente -->
  <app-header></app-header>
  <!-- Se loggato, menu e contenuto -->
    <mat-sidenav-container *ngIf="isLogged(); else loggedOut">
      <mat-sidenav mode="side" opened>
        <app-menu></app-menu>
      </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <ng-template #loggedOut>
  <app-login></app-login>
  </ng-template>
</div>
